html, body { height: 100%;  overflow-x: hidden; 
    }




h1 {font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: 500; line-height: 27px;}

li {font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 400; line-height: 18px;}

button {font-family: 'Inter', sans-serif; font-size: 16px; font-weight: 550; line-height: 36px;}

h2 {font-family: 'Inter', sans-serif; font-size: 20px; font-weight: 600; margin-top: 5px;
margin-bottom: 5px;  }

h3 {font-family: 'Lobster Two', cursive; font-size: 50px; font-weight: 400; margin-top: 40px; color: black;}

h4 {font-family: 'Inter', sans-serif; font-size: 30px; font-weight: 600; margin-top: 5px; margin-bottom: 5px;}

a {text-decoration: none; text-emphasis: none; color: white;}
a:visited {color: black;}

li {margin-bottom: 10px;}
p {font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 400; margin: 1px;;} 
header {
 display: flex;

 align-items: center;
 justify-content: space-between;
 height: 10%;
 margin-bottom: 40px;
 position: static;
margin-top: 20px;
 }

.logo {
    text-decoration: none;
    margin-left: 3%;
    white-space: nowrap;

}

.nav{
    margin-right: 3%;
    justify-content: center;
    flex-wrap: nowrap;
    
    
}

.btn-nav1 {
    font-size: 1.5vw;
    background-color: white;
    border: none;
    margin-right: 15px;
    padding: 15px;
}

.btn-nav2 {
    background-color: white;
    border-radius: 15px;
    border-color: #868686;
    margin-right: 30px;
    padding:5px;
     font-size: 1.5vw;
     padding: 15px;
}
.btn-nav2:hover {
  background-color:rgb(241, 241, 241) ;
}

.btn-nav3 {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
     font-size: 1.5vw;
     padding: 15px;
}

main {
    overflow-y: visible;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    
}

.course-list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    flex-wrap: wrap;
    
    
    
    justify-content: flex-start;
    
}


.course-card {
    overflow: hidden;
    display: block;
    border-style: solid;
    border-color: #c1bcbc;
    border-width: 1px;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 350px;
    max-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-left: 60px;
   
    

}
.info {
    padding-left: 15px;
    padding-right: 45px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 230px;
    margin-top: 2px;
    margin-bottom: 5px;
}

img {max-height: 250px; width: 100%;}

.empty-Courses {width: 100vw;
height: 30vh;position: relative; margin-top: 60px;}



footer {
display: flex;
min-width: 100%;
background-color: black; color: white;
height: min-content;
padding-bottom: 30px;
padding-top: 25px;
position: relative
}

.contacts {
    display: flex;
    margin-top: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
}

.con {min-width: 35px; margin-left: 10px;}

.footer-links {width: 100%;
  justify-content: space-between;
    
    display: flex;
    margin-right: 10%;
    flex-wrap: wrap;
}
.title {margin-top: 1px; font-size: 50px;
margin-left: 60px;}


.ul-f {
   direction: none;
    display: block;
    line-height: 5px;
    margin-right: 20px;
    list-style-type: none;
    
    
    
}

.foto {max-height: 250px;
content: cover;}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}


.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 470px;
  text-align: center;
  border-radius: 10px;
}


.modal-card input {
  width: 80%;
  margin-bottom: 15px;
  padding: 5px;
}


.modal-card h3 {
  margin: 10px 0;
}


.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;}

  .CREATE {
    
    width: 83%;
  margin-bottom: 15px;
  margin-top: 25px;
  height: 65px;
  background-color: #16B77D;
  color: white;
  border-radius: 5px;
  }

  .CREATE:hover {background-color: #15a570;

  }

  input {
    height: 30px;
    border-radius: 5px;
  }

  .tit {
    display: flex;
    align-self: flex-start;
    margin-left: 10%;
  }

  .create1 {
    margin-bottom: 35px;
    margin-top: 15px;
     display: flex;
    align-self: flex-start;
    margin-left: 5%;
  }

  ul {list-style-type: none; margin-left: 0; padding-left: 0;}

a:link {
  text-decoration: none; color: white;
}
a:visited {
  text-decoration: none; color: white;}


