html, body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}



h1 {font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: 500; line-height: 27px;}

li {font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 400; line-height: 18px;}

button {font-family: 'Inter', sans-serif; font-size: 16px; font-weight: 550; line-height: 36px;}

h2 {font-family: 'Inter', sans-serif; font-size: 20px; font-weight: 600; margin-top: 5px;
margin-bottom: 5px;  }

h3 {font-family: 'Lobster Two', cursive; font-size: 50px; font-weight: 400; margin-top: 40px; color: black;}

h4 {font-family: 'Inter', sans-serif; font-size: 30px; font-weight: 600; margin-top: 5px; margin-bottom: 5px;}

a {text-decoration: none; text-emphasis: none; color: white;}
a:visited {color: black;}

li {margin-bottom: 10px;}
p {font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 400; margin: 1px;;} 
header {
 display: flex;
flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
 height: 10%;
 margin-bottom: 70px;
 position: static;
 top: 0;

 }

.logo {
    text-decoration: none;
    margin-left: 3%;
    white-space: nowrap;
    line-height: 1;

}

.nav{
    margin-right: 3%;
    justify-content: center;
    flex-wrap: nowrap;
    line-height: 0;
    
}

.btn-nav1 {
    font-size: 15px;
    background-color: white;
    border: none;
    margin-right: 15px;
    padding: 15px;
}

.btn-nav2 {
    background-color: white;
    border-radius: 15px;
    border-color: #868686;
    margin-right: 30px;
    padding:5px;
     
     padding: 15px;
}
.btn-nav2:hover {
  background-color:#16B77D; color: #ffffff;
}

.confirm-btn {background-color: #9f0000; border-radius: 15px;
      
     padding: 15px; margin-right: 20px; color: white;}

     .cancel-btn {border-radius: 15px; padding: 15px;} 

.btn-nav3 {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
     
     padding: 15px;
}

main {
    overflow-y: visible;
    align-content: center;
    margin-left: 3%;
    margin-right: 7%;
    position: relative;
    
}

.course-list {
    display: flex;
    flex-direction: row;
    margin-top:20px;
    flex-wrap: wrap;
    
    
    
    justify-content: flex-start;
    
}


.course-card {
    overflow: hidden;
    display: block;
    border-style: solid;
    border-color: #c1bcbc;
   
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 350px;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-left: 60px;
    border-width: 2px;
  border-color: #9f0000;
    

}
.info {
    padding-left: 15px;
    padding-right: 55px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 180px;
    margin-top: 10px;
    margin-bottom: 5px;
    
}

img {max-height: 250px; width: 100%;}

.empty-Courses {width: 100vw;
height: 30vh;position: relative; margin-top: 60px;}



footer {
display: flex;
min-width: 100%;
background-color: black; color: white;
height: min-content;
padding-bottom: 30px;
padding-top: 25px;
position: relative;
overflow: visible;
height: min-content;
}

.contacts {
    display: flex;
    margin-top: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
}

.con {min-width: 35px; margin-left: 10px;}

.footer-links {width: 100%;
  justify-content: space-between;
    
    display: flex;
    margin-right: 10%;
    flex-wrap: wrap;
}
.title {margin-top: 1px; font-size: 50px;
margin-left: 20px;}


.ul-f {
   direction: none;
    display: block;
    line-height: 5px;
    margin-right: 20px;
    list-style-type: none;
    
    
    
}

.foto {max-height: 250px;
content: cover;}



.modal, .modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}


.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 470px;
  min-height: fit-content;
  text-align: center;
  border-radius: 10px;
}


.modal-card input {
  width: 80%;
  margin-bottom: 15px;
  padding: 5px;
}


.modal-card h3 {
  margin: 10px 0;
}


.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;}

  .CREATE {
    
    width: 83%;
  margin-bottom: 15px;
  margin-top: 25px;
  height: 65px;
  background-color: #16B77D;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  }

  .CREATE:hover {background-color: #15a570;

  }

  input {
    height: 30px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .tit {
    display: flex;
    align-self: fl—ãex-start;
    margin-left: 10%;
  }

  .create1 {
    margin-bottom: 35px;
    margin-top: 15px;
     display: flex;
    align-self: flex-start;
    margin-left: 5%;
  }

  ul {list-style-type: none; margin-left: 0; padding-left: 0;}

a:link {
  text-decoration: none; color: white;
}
a:visited {
  text-decoration: none; color: white;}






.settings-btn {
display: flex;
margin-left: 70%;
  height: 30px;
  width: 30%;
  
  
 align-items: center;
  justify-content: center ;
 margin-top: 10px;
 margin-bottom: 10px;
  background-color: #fffdfd;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  
}

.settings-btn:hover {
  background-color: #000000;
  color: #ffffff;
  border: #080808;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

.course-card {
  width: 300px;
  margin: 8px;
  border: 2px solid #ccc;
  padding: 10px;
}

.course-card:hover {
  border: 2px solid #595959ae;
}





.selected {
  background-color: #910e0ec1;
  border-width: 2px;
  border-color: #4a3535;
  color: #ffffff;
}

.course-card h2 {
  margin-top: 0;
  font-size: 18px;
}

.foto {
  text-align: center;
  
}

.foto img {
  width: 100%; height: 250px; 
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 80px;
  resize: none;
  margin-bottom: 10px;
}

.delete-btn {
  display: none;
  position: fixed;
  margin: 15vh;
  margin-left: 90%;
  min-height: 40px;
  width: min-content;
  font-size: 15px;
  font-weight: 800;
  
  line-height: 1.5;

  align-items: center;
  justify-content: center ;
 margin-top: -30px;
 margin-bottom: 10px;


  background-color: #bb2727;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: #1f0101;
border-width: 3px;
border-color: #350404;


  background-color: #bb2727;
  color: rgb(255, 255, 255);
 
 
padding-top: 5px;
padding-bottom: 5px;
}


@media screen and (max-width: 1130px) and (min-width: 440px) 
{
  .delete-btn {
  

  display: none;
  position: fixed;
  margin: 15vh;
  margin-left: 88%;
  
  width: min-content;
  font-size: 12px;
  font-weight: 800;
  
  line-height: 1.5;
border-width: 3px;
border-color: #350404;
  align-items: center;
  justify-content: center ;
 margin-top: -30px;
 box-shadow: #1f0101;



  background-color: #bb2727;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  
 
  
}
}

@media screen and (max-width: 754px) and (min-width: 288px) {
  .modal-content {min-width: 80vw; min-height: 80vh;}
  .header {margin-top: 2%;
    
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 140px;
  }
.title {display: flex; align-content: space-around;}
  .logo {line-height: 0;}
  footer {flex-direction: column;
    padding-left: 20px;
   min-width: 80%;
   min-width: 80%;
   justify-content: center;
   justify-items: center;
    
  }
  co
  .footer-links {flex-wrap: nowrap;}
  .contacts {margin-left: 25%; margin-bottom: 15px;}
.course-list {
  flex-direction: column;
}
  .course-card {
    display: flex;
  min-width: 70vw;
max-height: min-content;
height: 12dvh;
min-height: 12vh;
  margin: 12px;
  border: 2px solid #ccc;
  padding: 10px;
  justify-content: space-between;
}

img {max-height: 12dvh;}
.settings-btn {font-size: 1.5vw; max-width: min-content; min-width: min-content; margin: 5px;  bottom: 20px; position: relative; top: 15px; left: 0; align-content: left;}

.info {}
.foto {min-width: 100px; max-width: 25%;}

.delete-btn {
  

  display: none;
  position: fixed;
 
  margin-left: 82%;
  
  width: min-content;
  font-size: 12px;
  font-weight: 800;
  
  line-height: 1.5;
border-width: 3px;
border-color: #350404;
  align-items: center;
  justify-content: center ;

 box-shadow: #1f0101;



  background-color: #bb2727;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  
 
  
}

}

@media screen and (max-width: 440px) and (min-width: 288px) {
  .btn-nav2, .btn-nav1, .btn-nav3 {font-size: 2.7vw;  padding: 10px;} 
.delete-btn  {position: static;} 
.footer-links {justify-content: flex-start;}
.ul-f {margin-right: 30px;}
.header {margin-bottom: 115px;} .confirm-title{margin-bottom: 20%; padding-top: 20%;} .cont {margin-bottom: 40px;} }





