html, body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}



h1 {font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: 500; line-height: 27px;}

li {font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 400; line-height: 18px;}

button {font-family: 'Inter', sans-serif; font-size: 16px; font-weight: 550; line-height: 36px;}

h2 {font-family: 'Inter', sans-serif; font-size: 20px; font-weight: 600; margin-top: 5px;
margin-bottom: 5px;  }

h3 {font-family: 'Lobster Two', cursive; font-size: 50px; font-weight: 400; margin-top: 40px; color: black;}

h4 {font-family: 'Inter', sans-serif; font-size: 30px; font-weight: 600; margin-top: 5px; margin-bottom: 5px;}

a {text-decoration: none; text-emphasis: none; color: white;}
a:visited {color: black;}

li {margin-bottom: 10px;}
p {font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 400; margin: 1px;;} 
header {
 display: flex;
flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
 height: 10%;
 margin-bottom: 70px;
 position: static;
 top: 0;

 }

.logo {
    text-decoration: none;
    margin-left: 3%;
    white-space: nowrap;
    line-height: 1;

}

.nav{
    margin-right: 3%;
    justify-content: center;
    flex-wrap: nowrap;
    line-height: 0;
    
}

.btn-nav1 {
    font-size: 15px;
    background-color: white;
    border: none;
    margin-right: 15px;
    padding: 15px;
}

.btn-nav2 {
    background-color: white;
    border-radius: 15px;
    border-color: #868686;
    margin-right: 30px;
    padding:5px;
     
     padding: 15px;
}
.btn-nav2:hover {
  background-color:#16B77D; color: #ffffff;
}

.confirm-btn {background-color: #bb2727; border-radius: 15px;
      
     padding: 15px; margin-right: 20px; color: white;}

     .cancel-btn {border-radius: 15px; padding: 15px;} 

     .confirm-btn:hover {background-color: #942222;}

.btn-nav3 {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
     
     padding: 15px;
}

main {
    overflow-y: visible;
    align-content: center;
    margin-left: 3%;
    margin-right: 7%;
    position: relative;
    
}

.course-list {
    display: flex;
    flex-direction: row;
    margin-top:20px;
    flex-wrap: wrap;
    
    
    
    justify-content: flex-start;
    
}


.course-card {
    overflow: hidden;
    display: block;
    border-style: solid;
    border-color: #c1bcbc;
   
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 350px;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-left: 60px;
    border-width: 2px;
  border-color: #9f0000;
    

}
.info {
    padding-left: 15px;
    padding-right: 85px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 170px;
    margin-top: 10px;
    margin-bottom: 5px;
    
}

img {max-height: 250px; width: 100%;}

.empty-Courses {width: 100vw;
height: 30vh;position: relative; margin-top: 60px;}



footer {
display: flex;
min-width: 100%;
background-color: black; color: white;
height: min-content;
padding-bottom: 30px;
padding-top: 25px;
position: relative;
overflow: visible;
height: min-content;
}

.contacts {
    display: flex;
    margin-top: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
}

.con {min-width: 35px; margin-left: 10px;}

.footer-links {width: 100%;
  justify-content: space-between;
    
    display: flex;
    margin-right: 10%;
    flex-wrap: wrap;
}
.title {margin-top: 1px; font-size: 50px;
margin-left: 20px;}


.ul-f {
   direction: none;
    display: block;
    line-height: 5px;
    margin-right: 20px;
    list-style-type: none;
    
    
    
}

.foto {max-height: 250px;
content: cover; } 



.modal, .modal1 {
  display: none;
 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 90vw;
  height: 90vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}


.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 500px;
  min-height: fit-content;
  text-align: center;
  border-radius: 10px;
}


.modal-card input {
  width: 80%;
  margin-bottom: 15px;
  padding: 5px;
}


.modal-card h3 {
  margin: 10px 0;
}


.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;}

  .CREATE {
    
    width: 83%;
  margin-bottom: 15px;
  margin-top: 25px;
  height: 75px;
  background-color: #16B77D;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  }

  .CREATE:hover {background-color: #15a570;

  }

  input {
    height: 30px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .tit {
    display: flex;
    align-self: fl—ãex-start;
    margin-left: 10%;
  }

  .create1 {
    margin-bottom: 35px;
    margin-top: 15px;
     display: flex;
    align-self: flex-start;
    margin-left: 5%;
  }

  ul {list-style-type: none; margin-left: 0; padding-left: 0;}

a:link {
  text-decoration: none; color: white;
}
a:visited {
  text-decoration: none; color: white;}






.settings-btn {
display: flex;
margin-left: 70%;
  height: 30px;
  width: 30%;
  
  
 align-items: center;
  justify-content: center ;
 margin-top: 10px;
 margin-bottom: 10px;
  background-color: #fffdfd;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  
}

.settings-btn:hover {
  background-color: #000000;
  color: #ffffff;
  border: #080808;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  position: relative;
}

.course-card {
  width: 300px;
  margin: 8px;
  border: 2px solid #ccc;
  padding: 10px;
}

.course-card:hover {
  border: 2px solid #595959ae;
}





.selected {
  background-color: #910e0ec1;
  border-width: 2px;
  border-color: #4a3535;
  color: #ffffff;
}

.course-card h2 {
  margin-top: 0;
  font-size: 18px;
}

.foto {
  text-align: center;
  
}

.foto img {
  width: 100%; height: 250px; border-radius: 10px;
}

.foto img .selected {border-color: #000000;}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.modal-content {
  background-color: #fefefe;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 80px;
  resize: none;
  margin-bottom: 10px;
}

.delete-btn {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url(../images/del.png);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  position: fixed;
  margin: 12px;
  margin-left: 90%;
  min-height: 40px;
  width: 40px;
  font-size: 12px;
  font-weight: 800;
  
  line-height: 1.5;

  align-items: center;
  justify-content: center ;
 margin-top: -30px;
 margin-bottom: 10px;


  background-color: #bb2727;
  
  border-radius: 10px;
  box-shadow: #1f0101;
border-width: 3px;
border-color: #350404;


  background-color: #bb2727;
  color: #000000;
 
 
padding-top: 5px;
padding-bottom: 2px;
}

.delete-btn:hover {
  background-color: #942222;
}

.confirm-title{margin-bottom: 5%; padding-top: 15%;} .cont {margin-bottom: 40px;} 


@media screen and (max-width: 1130px) and (min-width: 440px) 
{
  .delete-btn {
  

  display: none;

  margin: 15vh;
  margin-left: 88%;
  
  
  font-size: 12px;
  font-weight: 800;
  
  line-height: 1.5;
border-width: 3px;
border-color: #350404;
  align-items: center;
  justify-content: center ;
 margin-top: -30px;
 box-shadow: #1f0101;



  background-color: #bb2727;

  border-radius: 10px;
  
 
  
}
}

@media screen and (max-width: 754px) and (min-width: 100px) {
  .modal { height: 100%};
  .modal-content { height: 80%; width: 70%; overflow-y: hidden;}
  .header {margin-top: 2%;
    
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 170px;
  }
.title {display: flex; align-content: space-around;}
  .logo {line-height: 0;}
  footer {flex-direction: column;
    padding-left: 20px;
   min-width: 80%;
   min-width: 80%;
   justify-content: center;
   justify-items: center; padding: 10px;
   padding-left: 30px; padding-bottom: 15px;
   min-height: min-content;
    
  }
  .CREATE {margin-bottom: 50px; margin-top: 15px; height: 60px;}
  .footer-links {flex-wrap: wrap; display: flex; width: 90%; padding-left: 10px;}
  .contacts {margin-left: 0; margin-top: 10px; margin-bottom: 15px;}
.course-list {
  flex-direction: column;
}
  .course-card {
    display: flex;
  min-width: 70vw;
max-height: min-content;

min-height: min-content;
  margin: 12px;
  border: 2px solid #ccc;
  padding: 10px;
  justify-content: space-between;
 
}
.confirm-title{margin-bottom: 25%; padding-top: 20%;} .cont {margin-bottom: 40px;} 

img {max-height: 10vh}
.settings-btn {font-size: 1.5vw; max-width: min-content; min-width: min-content; ;   position: relative; top: -12px; right: 15px; align-content: left;}

.info {position: absolute; margin-left: 18%; max-width: 140px; 
    padding-right: 25%;}
.foto {min-width: 15vw; max-width: 15vw; max-height: 15vh; min-height: auto; position: left;}

.logo {margin-bottom: 10px;}
.delete-btn {
  

  display: none;
  
 
  margin-left: 82%;
  margin-top: -12%;

  font-size: 12px;
  font-weight: 800;
  
  line-height: 1.5;
border-width: 3px;
border-color: #350404;
  align-items: center;
  justify-content: center ;

 box-shadow: #1f0101;



  background-color: #bb2727;
  color: black;
  border-radius: 10px;
  
 
  
}

}

@media screen and (max-width: 440px) and (min-width: 100px) {
  h3 {font-size: 40px;}
  .btn-nav2, .btn-nav1, .btn-nav3 {font-size: 3vw; font-weight: 900;  padding: 3px; } 
  .btn-nav3 {padding-left: 10px; padding-right: 10px}
.delete-btn  {font-size: 12px ; margin-left: 83%; margin-top: 5%; background-image: url(../images/del.png); font-weight: 1000; } 
.footer-links {justify-content: flex-start;}
.ul-f {margin-right: 30px;}
.header {margin-bottom: 95px; margin-left: 3px;} .confirm-title{margin-bottom: 25%; padding-top: 20%;} .cont {margin-bottom: 40px;} 
.nav {font-weight: bolder;}
.logo {margin-bottom: 5px;}
body, main { max-width: 100dvw; width: 100dvw; overflow-x: hidden; }
.course-list {padding-left: 0; margin-right: 5%; margin-right: 10px;}
.course-card {max-width: 28vw; width: 28vw;}
.settings-btn {position: right; }
.info {  padding-left: 15px;
    padding-right: 25%; max-width: 120px; width: 70px; margin-left: 15%}
.footer {padding-left: 30px; padding-bottom: 15px;}
.modal {overflow-y: hidden; overflow-x: hidden; margin-left: -1.5%;}
.modal-content {width: 90%; height: 100%; margin-top: 0; padding-top: 25%; border-radius: 0;}
.modal-close {margin-top: -60px;}
}


@media screen and (min-width: 1900px) {
  .footer-links {justify-content: center;}
  .ul-f {margin-right: 90px;}
}





