html, body { height: 100%;  overflow-x: hidden;
    

}

h1 {font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: 500; line-height: 27px;}

li {font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 400; line-height: 18px;}

button {font-family: 'Inter', sans-serif; font-size: 16px; font-weight: 550; line-height: 36px;}

h2 {font-family: 'Inter', sans-serif; font-size: 20px; font-weight: 600; margin-top: 5px;
margin-bottom: 5px;  }

h3 {font-family: 'Lobster Two', cursive; font-size: 50px; font-weight: 400; margin-top: 40px;}

h4 {font-family: 'Inter', sans-serif; font-size: 30px; font-weight: 600; margin-top: 5px; margin-bottom: 5px;}

a {text-decoration: none; text-emphasis: none; color: white;}
a:visited {color: black;}

li {margin-bottom: 10px;}
p {font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 400; margin: 1px;;}

header {
 display: flex;

 align-items: center;
 justify-content: space-between;
 height: 10%;
 margin-bottom: 40px;
 position: static;
margin-top: 20px;
 }

.logo {
    text-decoration: none;
    margin-left: 3%;
    white-space: nowrap;

}

.nav{
    margin-right: 3%;
    justify-content: center;
    
    
}

.btn-nav1 {
    background-color: white;
    border: none;
    margin-right: 15px;
}

.btn-nav2 {
    background-color: white;
    border-radius: 15px;
    border-color: #868686;
    margin-right: 30px;
    padding:5px;
}

.btn-nav3 {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

main {
    overflow-y: visible;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    
}

.course-list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    flex-wrap: wrap;
    
    
    
    justify-content: flex-start;
    
}


.course-card {
    overflow: hidden;
    display: block;
    border-style: solid;
    border-color: #c1bcbc;
    border-width: 1px;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 350px;
    max-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-left: 60px;
   
    

}
.info {
    padding-left: 15px;
    padding-right: 45px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 230px;
    margin-top: 2px;
    margin-bottom: 5px;
}

img {max-height: 250px; width: 100%;}

.empty-Courses {width: 100vw;
height: 30vh;position: relative; margin-top: 60px;}



footer {
display: flex;
min-width: 100%;
background-color: black; color: white;
height: min-content;
padding-bottom: 30px;
padding-top: 25px;
position: relative
}

.contacts {
    display: flex;
    margin-top: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
}

.con {width: 35px; margin-left: 10px;}

.footer-links {width: 100%;
  justify-content: space-between;
    
    display: flex;
    margin-right: 10%;
    flex-wrap: wrap;
}
.title {margin-top: 1px; font-size: 50px;
margin-left: 60px;}


.ul-f {
   
    display: block;
    line-height: 5px;
    margin-right: 20px;
    
    
}

.foto {max-height: 250px;
content: cover;}
